<div class="container w-25">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Electricity Calculator</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-2">
              <label>Power Consumption:</label>
              <input type="text" name="powerConsumption" id="power_consumption" class="form-control">
            </div>
            
            <div class="mb-2">
              <label>Hours of use per day:</label>
              <div class="row">
                <div class="col-8">
                  <input type="text" name="powerConsumption" id="power_consumption" class="form-control">
                </div>
                <div class="col-4">
                  <select class="form-select">
                    <option value="Watts">Watts</option>
                    <option value="Kilowatt">Kilowatt</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="mb-2">
              <label>1 kilwatt-hour cost (kWh) cost: </label>
              <div class="row">
                <div class="col-6">
                  <input type="text" name="powerConsumption" id="power_consumption" class="form-control">
                </div>
                <div class="col-6">
                  <select class="form-select">
                    <option value="PHP">Philippines</option>
                    <option value="USD">United States</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="mb-2 text-center">
              <div class="btn-group w-50">
                <button class="form-control btn btn-primary">Calculate</button>
                <button class="form-control btn btn-danger">Reset</button>
              </div>
            </div>
          </form>
          <h3 class="bd-title">Results:</h3>
          <div class="card">
            <div class="card-body">
              <div class="mb-2">
                <label>Electricity cost per day</label>
                <input type="text" name="" id="" class="form-control" disabled>
              </div>
              <div class="mb-2">
                <label>Electricity cost per month</label>
                <input type="text" name="" id="" class="form-control" disabled>
              </div>
              <div class="mb-2">
                <label>Electricity cost per </label>
                <input type="text" name="" id="" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>